.bg-color {
  background-color: #026197;
  color: white;
  border-top: 1px solid;
}

.bg-color-box a {
  display: flex;
  align-items: baseline;
}

.navbar-color {
  background-color: #026197;
}

.nav-pills .nav-link {
  padding: 15px 20px !important;
}

.nav-pills .nav-link {
  border: 0;
  border-radius: 0.25rem;
}

.align-items-sm-start {
  align-items: flex-start !important;
}

li > a.active{
  color:#026197;
  background-color: #ffffff;
}
li i {
  padding-right: 5px;
}
